<!DOCTYPE html>
<html ng-app="cragproject">
  <head>
    <title>Crag Project</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!--STYLES END-->
  </head>

  <body>

    <%- body %>

    <!--SCRIPTS-->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/modernizr/modernizr.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/config/app.js"></script>
    <script src="/js/config/routes.js"></script>
    <script src="/js/controllers/landingController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
